<h2>Add a new puppy!</h2>
<% if @puppies.errors.any? %>
  <% @puppies.errors.full_messages.each do |error| %>
  <p><%= error %></p>
  <% end %>
<% end %>

<%= form_for @puppies, url:"/puppies" do |f| %>
  <p><%= f.label :name %>
  <%= f.text_field :name %>
  </p>
  <p>
  <%= f.label :age %>
  <%= f.text_field :age %>
</p>
<p>
  <%= f.label :breed %>
  <%= f.text_field :breed %>
  <%= f.submit %>
</p>
<% end %>